stages:
  - secret-detection
  - infra
  - deploy

variables:
  TF_ROOT: ${CI_PROJECT_DIR}/tofu
  TF_STATE_NAME: shdrch
  DOKKU_APP: shdrch

include:
  - template: Security/Secret-Detection.gitlab-ci.yml
  - project: "aether/ci-templates"
    ref: main
    file:
      - "/dokku/tofu.yml"
      - "/dokku/deploy.yml"

secret_detection:
  stage: secret-detection

infra:
  extends:
    - .tofu_variables
    - .tofu_job
  stage: infra
  script:
    - cd ${TF_ROOT}
    - tofu init
    - tofu apply -auto-approve
  only:
    - main

deploy:
  extends: .dokku_deploy
  stage: deploy
  only:
    - main
